*{
    margin: 0;
    padding: 0;
}

.mem_container {
     
    background-color:rgb(53, 52, 52);
    width: 100%;
   position: relative;
   height:100vh;
   margin: auto 0;
   
    
}
h1{
    color: wheat;
}
.mem_box{
    height: inherit;

    width: inherit; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[name='slider']{
position: absolute;
visibility: hidden;
}
#slide_box{
    width: 80%;
    height: 65%;
   display: flex;
   justify-content: center;
   transition: transform ease-in-out .5s, opacity ease-in-out .5s;  
}
.slide{
    width :44em;
    height: 28em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
	transform: scale(0.5);
    border-radius: 1em;
    border: 0.5em black solid;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;

}
.slide1{
    background-image: url(./assets/img1.jpg);
}

.slide2{
    background-image: url(./assets/img2.jpg);
}

.slide3{
    background-image: url(./assets/img3.jpg);
}

.slide4{
    background-image: url(./assets/img4.jpg);
}




.bar{
    margin:1vh;
    width: 3vh;
    height: 3vh;
    background-color:blue;
    cursor: pointer;
    transition: ease-in-out .5s;
    border-radius:  50%;
    border: 10px solid rgb(53, 52, 52);
}


.bar:hover{
    background-color: azure;
}
.bar:focus{
    background-color: black;
}
.container{
    display: flex;
    flex-direction: row-reverse;
    width: 40%;
    justify-content: space-between;
    padding-top: 20px;
  
}
.button_container{
    width: 35vh;
    display: flex;
    
}
.text_container{
    width: 65vh;
    display: flex;
    
 
}
.sub_text{
    font-size: 18px;
    
    color: wheat;
    position: absolute;
    background-color: rgb(53, 52, 52);
    width: 19%;
    transform: translateZ(2px);


	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
#i1:checked~.container> .button_container .l1{
    background-color: red;
}
#i2:checked~.container >.button_container .l2{
    background-color: red;
}
#i3:checked~ .container>.button_container .l3{
    background-color: red;
}
#i4:checked~ .container>.button_container .l4{
    background-color: red;
}

#i1:checked ~ #slide_box > .slide1,
#i2:checked ~ #slide_box > .slide2,
#i3:checked ~ #slide_box > .slide3,
#i4:checked ~ #slide_box> .slide4 {
	opacity: 1;
	z-index: 3;
	transform: scale(1);
}

#i1:checked ~ .container>.text_container> .text1,
#i2:checked ~ .container>.text_container> .text2,
#i3:checked ~ .container>.text_container> .text3,
#i4:checked ~ .container>.text_container> .text4{
	opacity: 1;
	z-index: 2;
	transform: perspective(0.5em);

}

@media screen and (max-width : 1000px){
    .sub_text{
    font-size:1em ;
    }
}
@media screen and (max-width : 320px){
    .mem_container{
        height: 100vh
    }
    .mem_box{
        justify-content:start;
    }
    h1{
        padding-top: 1em;
    }
    #slide_box{
      
       height: 30%;
    }
    .slide{
        height: 10em;
        width: 15em;
    }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
 justify-content: center;
    width: 100%;
}
.button_container{
    width: 28vh;
}
.text_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sub_text{
    font-size: 14px;
    width: 80%;
    
    
}
}